<p id="notice"><%= notice %></p>

<p>
  <strong>Policy number:</strong>
  <%= @policy_renewal.policy_number %>
</p>

<p>
  <strong>Date quotes recieved:</strong>
  <%= @policy_renewal.date_quotes_recieved %>
</p>

<p>
  <strong>Loss runs required:</strong>
  <%= @policy_renewal.loss_runs_required %>
</p>

<p>
  <strong>Renewal date:</strong>
  <%= @policy_renewal.renewal_date %>
</p>

<p>
  <strong>Underwriter:</strong>
  <%= @policy_renewal.underwriter %>
</p>

<p>
  <strong>Insurer:</strong>
  <%= @policy_renewal.insurer %>
</p>

<%= link_to 'Edit', edit_policy_renewal_path(@policy_renewal) %> |
<%= link_to 'Back', policy_renewals_path %>
